* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body {
    background-color: #161b2b;
}

.nav {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
}

.dark-nav {
    background-color: #0f121e;
}

.nav p {
    color: white;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.name-background {
    background-color: #00000080;
    position: absolute;
    top: 0;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.restaurant-name {
    color: white;
    font-family: 'Parisienne', cursive;
    font-size: 5rem;
}

.title {
    font-family: 'Parisienne', cursive;
    font-size: 2.5rem;
    text-align: center;
    color: #edd369;
    margin-top: 30px;
}

.story {
    margin: 0 20%;
    text-align: center;
    padding-bottom: 20px;
}

.footer {
    width: 100%;
    background-color: #0f121e;
    text-align: center;
}

.footer p {
    padding: 10px 0;
    font-size: 0.7rem;
}

/* menu page */

.usable-space {
    
    display: grid;
    grid-template: 1fr 10fr/ 1fr;
    grid-area: 
        "title"
        "menu";
    justify-items: center;
}

.menu-title {
    margin-top: 100px;
    color: white;
    font-family: 'Parisienne', cursive;
    font-size: 4rem;
    color: #edd369;
}

.menu-list {
    background-color: #0f121e;
    padding: 50px 200px 40px 200px;
    margin-bottom: 30px;
}

.menu-list p {
    margin-bottom: 10px;
}

/* contact page */

.contact-title {
    margin-top: 50px;
    color: white;
    font-family: 'Parisienne', cursive;
    font-size: 4rem;
    color: #edd369;
}

.contact-space {
    margin: 0 5%;
    margin-bottom: 30px;
    padding: 50px 200px;
    background-color: #0f121e;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-template-areas: 
        "telephone map"
        "mobile map"
        "email map";
    gap: 5px;
    align-items: center;
}

.telephone {
    grid-area: telephone;
    align-self: flex-end;
    font-size: 1.5rem;
}

.mobile {
    grid-area: mobile;
    font-size: 1.5rem;
}

.email {
    grid-area: email;
    align-self: baseline;
    font-size: 1.5rem;
}

.map {
    grid-area: map;
}