* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body {
    background-color: #161b2b;
}

.nav {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
}

.dark-nav {
    background-color: #0f121e;
}

.nav p {
    color: white;
}

.banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.name-background {
    background-color: #00000080;
    position: absolute;
    top: 0;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.restaurant-name {
    color: white;
    font-family: 'Parisienne', cursive;
    font-size: 5rem;
}

.title {
    font-family: 'Parisienne', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 40px;
    color: #edd369;
}

.story {
    margin: 40px 400px 0 400px;
    text-align: center;
    padding-bottom: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0f121e;
    text-align: center;
}

.footer p {
    padding: 10px 0;
    font-size: 0.7rem;
}

/* menu page */

.usable-space {
    max-height: 80vh;
    display: grid;
    grid-template: 1fr 10fr/ 1fr;
    grid-area: 
        "title"
        "menu";
    justify-items: center;
}

.menu-title {
    margin-top: 100px;
    color: white;
    font-family: 'Parisienne', cursive;
    font-size: 4rem;
    color: #edd369;
}

.menu-list {
    background-color: #0f121e;
    margin: auto 200px;
    padding: 50px 200px 40px 200px;
}

.menu-list p {
    margin-bottom: 10px;
}